---
const { post } = Astro.props;
---

<div class="post">
  {
    post.data.date && (
      <div class="date">
        {new Date(post.data.pubDate).toLocaleDateString("en-US", {
          year: "numeric",
          month: "long",
          day: "numeric",
        })}
      </div>
    )
  }
  <h3 class="title">
    {/* Construct the URL using the post's slug */}
    <a href={`/posts/${post.slug}`}>{post.data.title}</a>
  </h3>
  <span class="description">{post.data.description}</span>

  {
    post.data.features && (
      <span class="features">
        Featured on{" "}
        {post.data.features.map((feature: any, index: number) => (
          <>
            <a href={feature.link}>{feature.name}</a>
            {index < post.data.features.length - 1 && ", "}
          </>
        ))}
      </span>
    )
  }
</div>

<style>
  .post {
    display: flex;
    flex-direction: column;
    gap: var(--space-3xs);
  }
  .date {
    color: var(--mauve-11);
    font-size: var(--step-0);
  }
  .features {
    color: var(--mauve-11);
    font-size: var(--step--0);
  }
  .title {
    font-size: var(--step-3);
  }
</style>
