---
import MainLayout from "./Layout.astro";

export interface Props {
  title: string;
  description: string;
  pubDate?: string;
  image?: string;
  link?: string;
}

const { title, description, pubDate, image, link } = Astro.props;
---

<MainLayout {title} {description} {image}>
  <article itemscope="" itemtype="https://schema.org/BlogPosting" class="">
    <header class="page-header">
      <hgroup role="group" aria-roledescription="Heading group">
        <h1 class="page-header-title" set:html={title} />
        <p
          aria-roledescription="subtitle"
          class="page-header-subtitle"
          set:html={description}
        />
      </hgroup>
      {
        pubDate && (
          <div class="page-header-date">
            <span>
              Created on{" "}
              {new Date(pubDate).toLocaleDateString("en-US", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </span>
          </div>
        )
      }
      {
        link && (
          <div class="page-header-date">
            <a href={link} target="_blank" rel="noopener noreferrer">
              Go to project page
            </a>
          </div>
        )
      }
    </header>
  </article>
  <section itemprop="articleBody" class="page-body">
    <slot />
  </section>
</MainLayout>
